[submodule "mavros"]
	path = src/mavros
	url = https://gitee.com/lisq58/mavros.git
	branch = melodic-devel
[submodule "mavlink"]
	path = src/mavlink
	url = https://gitee.com/lisq58/mavlink.git
	branch = melodic-devel
[submodule "geometry2"]
	path = src/geometry2
	url = https://gitee.com/lisq58/geometry2.git
	branch = melodic-devel
[submodule "vicon_bridge"]
	path = src/vicon_bridge
	url = https://gitee.com/lisq58/vicon-bridge.git
