[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://gitee.com/lisq58/my_realsense_ros1.git
[submodule "src/rgbd_launch"]
	path = src/rgbd_launch
	url = https://gitee.com/lisq58/my_rgbd_launch.git
	branch = jade-devel
